/* .rockettest{
    display: block;
    width: 500px;
    margin-left: 35%;
    margin-top: 1%;

}

.rockettest2{
    display: inline-block;
    text-align: center;
    width: 400px;
} */

.cardDescription{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.learnMoreButton{
    padding-left: 2rem;
}


.mainPageDiv{
    display: flex;
}

.rocketCardsDiv{
    display: flex;
    margin-right: 2%;
    margin-left: 0;
}

.checkboxDiv{
    display: flex;
    flex-flow: column nowrap;
    margin-top: 5rem;
}

.singleCheckbox{
    width: 19rem;
    margin-left: 2rem;
}
 .Map{
     width: 100%;
     position: absolute;
     top :0;
     bottom: 0;
 }