
/* .rockettest{
    display: block;
    width: 500px;
    margin-left: 35%;
    margin-top: 1%;

}

.rockettest2{
    display: inline-block;
    text-align: center;
    width: 400px;
} */

.cardDescription{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.learnMoreButton{
    padding-left: 2rem;
}


.mainPageDiv{
    display: flex;
}

.rocketCardsDiv{
    display: flex;
    margin-left: 1rem;
}

.checkboxDiv{
    display: flex;
    flex-flow: column nowrap;
    margin-top: 4rem;
}

.singleCheckbox{
    width: 19rem;
}

 .Map{
     width: 100%;
     position: absolute;
     top :0;
     bottom: 0;
 }

 .MuiCard-root{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

.loading {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}